.filterBlock {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  max-width: 25%;
  padding: 1.6rem;
  background-color: transparent;
  border-radius: 8px;
}

.filterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}
