.moviePage {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-bottom: 40px;
}

.imageContainer {
  width: 50%;
  flex-grow: 0 1 auto;
}

.moviePoster {
  border-radius: 8px;
  width: 100%;
  max-height: 600px;
  height: auto;
}

.movieInfo {
  width: 50%;
  flex: 1 1 auto;
}

.movieInfo > h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.movieDescription {
  font-size: 1.126rem;
  line-height: 1.625;
  margin-bottom: 30px;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detailWrapper {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 50px;
}

.detailWrapper h5 {
  color: var(--gray---600);
  font-size: 18px;
  min-width: 8rem;
}

.detailWrapper p,
.detailWrapper ul li {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  color: var(--steel-gray---800);
}

.genreArray {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.genre {
  padding: 2px 10px;
  border-radius: 16px;
  border: 1px solid #616161;
  font-size: 14px;
}

@media (max-height: 800px) {
  .formContent {
    max-height: 600px;
  }
}

@media (max-height: 750px) {
  .imageContainer {
    width: 35%;
  }
  .movieInfo {
    width: 65%;
  }
  .moviePoster {
    max-height: 500px;
  }
}

@media (max-height: 620px) {
  .imageContainer {
    width: 40%;
  }
  .moviePoster {
    max-height: 450px;
  }
}
